@font-face {
  font-family: Nunito_Sans;
  src: url("/fonts/Nunito_Sans/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  height: 100dvh;
  background-color: blueviolet;
  font-family: Nunito_Sans;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  background-color: pink;
  border-radius: 10px;
  width: clamp(250px, 30dvw, 400px);
  min-height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

div {
  display: flex;
  flex-direction: column;
}

div, button {
  width: 60%;
}

input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
  outline: none;
  font-size: 14px;
}

button {
  padding: 7px 0;
  color: white;
  background-color: blue;
  font-weight: bold;
  border: 1px solid black;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 500ms;
}

button:focus {
  background-color: aquamarine;
  transition: background-color 500ms;
}

button:hover {
  background-color: aquamarine;
  transition: background-color 500ms;
}

label {
  display: flex;
  justify-content: space-between;
}

.error__message {
  color: red;
  font-weight: 500;
  font-size: 12px;
  margin: 0;
}