@font-face {
  font-family: Nunito_Sans;
  src: url("/fonts/Nunito_Sans/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(154, 154, 154);
  font-family: Nunito_Sans;
}

form {
  background-color: rgb(214, 213, 213);
  border: 1px solid black;
  box-shadow: 0px 0px 38px -6px rgba(0,0,0,0.79);
  -webkit-box-shadow: 0px 0px 38px -6px rgba(0,0,0,0.79);
  -moz-box-shadow: 0px 0px 38px -6px rgba(0,0,0,0.79);
  height: 55dvh;
  width: 30dvw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  padding-top: 1rem;
  box-sizing: content-box;
}

.input__item {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 70%;
  gap: 3px;
  font-size: 16px;
}

.error__message {
  color: red;
  font-weight: 500;
  font-size: 12px;
  margin: 0;
}

label {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.input__item input {
  padding: 7px;
  font-size: 14px;
  border: 1px solid black;
  background-color: #4444441a;
  outline: none;
  border-radius: 5px;
}

button {
  width: 50%;
  font-size: 14px;
  background-color: purple;
  padding: 1rem 0px;
  border: none;
  border-radius: 10px;
  outline: none;
  box-sizing: content-box;
  font-family: Nunito_Sans;
  color: white;
  font-weight: 600;
  letter-spacing: 2px;
}